TELEGRAM_BOT_TOKEN=
TELEGRAM_DEFAULT_CHAT_ID=
TEMP_ADMIN_PASSWORD=
PORT=3000

POSTGRES_DB=tv_screenshoter
POSTGRES_USER=tv_screenshoter
POSTGRES_PASSWORD=change_me
DATABASE_URL=postgresql://tv_screenshoter:change_me@localhost:5432/tv_screenshoter?schema=public
